# CS6460 Recommendation System

Datasets are from MovieLens (https://grouplens.org/datasets/movielens/)

In [254]:
%matplotlib inline
import pandas as pd
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

import warnings; warnings.simplefilter('ignore')

> ## Part 1 - Content Based Filtering Method Using NLP

This project focues on personalization so this algorithm will computes similarity among movies based on Movie Overviews and Taglines to the movies that users like. This is Content Based Filtering because this part is using movie metadata to develop. 

This part will only use part of the MovieLens to speed up computation.

In [255]:
movie_metadata = pd.read_csv('../imported/movies.csv')
movie_links = pd.read_csv('../imported/links.csv')

In [256]:
movie_metadata.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [257]:
movie_links.head(5)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

Preprocess Datasets

In [258]:
movie_links = movie_links[movie_links['tmdbId'].notnull()]['tmdbId'].astype('int')
movie_metadata = movie_metadata.drop([19730, 29503, 35587])
movie_metadata['id'] = movie_metadata['id'].astype('int')
# pmm  (processed_movie_metadata)
pmm = movie_metadata[movie_metadata['id'].isin(movie_links)]

In [259]:
pmm['tagline'] = pmm['tagline'].fillna('')
pmm['overview'] = pmm['overview'].fillna('')
pmm['description'] = pmm['overview'] + pmm['tagline']
pmm['description'] = pmm['description'].fillna('')

Applying the NLP method TF-IDF. 
Ref1 https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html & 
Ref2 https://www.learndatasci.com/glossary/tf-idf-term-frequency-inverse-document-frequency/#:~:text=Using%20scikit%2Dlearn-,What%20is%20TF%2DIDF%3F,%2C%20relative%20to%20a%20corpus).

In [260]:
vectorizer = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = vectorizer.fit_transform(pmm['description'])
print(tfidf_matrix.shape)

(45463, 1104516)

Applying Cosine Similarity to calculate the similarity between two movies. 
https://goodboychan.github.io/python/datacamp/natural_language_processing/2020/07/17/04-TF-IDF-and-similarity-scores.html

In [223]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [224]:
pmm = pmm.reset_index()
titles = pmm['title']
indices = pd.Series(pmm.index, index=pmm['title'])

In [225]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:50]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

Use qualitative evaluation by observating how close the recommendations are.

In [226]:
get_recommendations('Iron Man').head(5)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [227]:
get_recommendations('Ip Man').head(5)

43259    The Legend Is Born: Ip Man
11838             Dragon Tiger Gate
24338                The Odd Couple
38900         Bruce Lee: The Legend
15571                      Ip Man 2
Name: title, dtype: object

> ## Part 2 - Collaborative Based Filtering Method Using Deep Learning NCF

In [13]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD

import warnings; warnings.simplefilter('ignore')

In [14]:
reader = Reader()

In [15]:
ratings = pd.read_csv('../imported/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [16]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [17]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5)

{'test_rmse': array([0.89138052, 0.89824569, 0.89527   , 0.89552874, 0.89472073]),
 'test_mae': array([0.68615772, 0.69231182, 0.6890207 , 0.69224442, 0.68652549]),
 'fit_time': (0.5245137214660645,
  0.5378544330596924,
  0.5399210453033447,
  0.5550360679626465,
  0.539698600769043),
 'test_time': (0.16688942909240723,
  0.06962800025939941,
  0.06961822509765625,
  0.16210579872131348,
  0.06957507133483887)}

In [18]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [19]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [20]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.502482037871148, details={'was_impossible': False})

> ## Part 3 Hybrid

In [21]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [211]:
id_map = pd.read_csv('../imported/links.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(pmm[['title', 'id']], on='id').set_index('title')
#id_map = id_map.set_index('tmdbId')

In [212]:
indices_map = id_map.set_index('id')

In [232]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = pmm.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [234]:
hybrid(5, 'The Matrix')

                          title  vote_count  vote_average      id       est
6515                   Commando       753.0           6.4   10999  4.150720
9372              The Animatrix       433.0           6.9   55931  3.912888
14551                    Avatar     12114.0           7.2   19995  3.839030
3073                  Supernova       109.0           4.9   10384  3.807532
44158         A Detective Story        30.0           7.2   24660  3.790296
28644      Stand by Me Doraemon       103.0           7.0  265712  3.790296
24201                  Who Am I       430.0           7.6  284427  3.790296
9159                   Takedown        56.0           6.3   10429  3.790296
21530           The Lost Future        65.0           4.6   50674  3.790296
12818  War Games: The Dead Code        47.0           5.1   14154  3.790296

In [26]:
hybrid(500, 'Avatar')

,title,vote_count,vote_average,id,est
6105,A Trip to the Moon,314.0,7.9,775,3.345147
4804,Avalon,93.0,6.8,10881,3.340408
975,A Grand Day Out,199.0,7.4,530,3.287192
5044,The Men,18.0,6.5,1882,3.283667
3360,The Dish,62.0,6.6,5257,3.263964
1898,A Simple Plan,191.0,6.9,10223,3.227069
2910,Pandora and the Flying Dutchman,19.0,6.5,38688,3.160498
4506,Tears of the Sun,582.0,6.4,9567,3.052269
3018,Rocketship X-M,15.0,5.1,37744,3.030206
7587,The American,488.0,5.8,27579,3.019932

Part 2 (Real) - NCF

In [45]:
from tqdm import tqdm
import torch, torch.nn as nn, torch.utils.data as data, torchvision as tv, torch.nn.functional as F
import lightning as L
from torch.utils.data import Dataset, DataLoader

In [46]:
ratings = pd.read_csv('../imported/ratings.csv', 
                      parse_dates=['timestamp'])

In [47]:
rand_userIds = np.random.choice(ratings['userId'].unique(), 
                                size=int(len(ratings['userId'].unique())*0.3), 
                                replace=False)

ratings = ratings.loc[ratings['userId'].isin(rand_userIds)]

print('There are {} rows of data from {} users'.format(len(ratings), len(rand_userIds)))

There are 2349152 rows of data from 24171 users

In [48]:
ratings.sample(5)

         userId  movieId  rating   timestamp
4058548   42204     1219     4.0  1434118994
524260     5382      737     3.0   857214523
2980559   31104   138036     4.5  1466593610
6372181   65816     1968     3.5  1493407931
4130381   42941     1291     5.0   977500860

In [49]:
ratings['rank_latest'] = ratings.groupby(['userId'])['timestamp'] \
                                .rank(method='first', ascending=False)

train_ratings = ratings[ratings['rank_latest'] != 1]
test_ratings = ratings[ratings['rank_latest'] == 1]

# drop columns that we no longer need
train_ratings = train_ratings[['userId', 'movieId', 'rating']]
test_ratings = test_ratings[['userId', 'movieId', 'rating']]

In [50]:
train_ratings.sample(5)

         userId  movieId  rating
3250896   33822     2371     4.0
246907     2558     1732     4.0
7017006   72346    26558     2.5
3035145   31729   111781     3.0
6576858   67897    27821     4.5

In [51]:
# Get a list of all movie IDs
all_movieIds = ratings['movieId'].unique()

# Placeholders that will hold the training data
users, items, labels = [], [], []

# This is the set of items that each user has interaction with
user_item_set = set(zip(train_ratings['userId'], train_ratings['movieId']))

# 4:1 ratio of negative to positive samples
num_negatives = 4

In [52]:
for (u, i) in tqdm(user_item_set):
    users.append(u)
    items.append(i)
    labels.append(1) # items that the user has interacted with are positive
    for _ in range(num_negatives):
        # randomly select an item
        negative_item = np.random.choice(all_movieIds) 
        # check that the user has not interacted with this item
        while (u, negative_item) in user_item_set:
            negative_item = np.random.choice(all_movieIds)
        users.append(u)
        items.append(negative_item)
        labels.append(0) # items not interacted with are negative

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2324981/2324981 [01:33<00:00, 24910.32it/s]

In [53]:
class MovieLensTrainDataset(Dataset):
    """MovieLens PyTorch Dataset for Training
    
    Args:
        ratings (pd.DataFrame): Dataframe containing the movie ratings
        all_movieIds (list): List containing all movieIds
    
    """

    def __init__(self, ratings, all_movieIds):
        self.users, self.items, self.labels = self.get_dataset(ratings, all_movieIds)

    def __len__(self):
        return len(self.users)
  
    def __getitem__(self, idx):
        return self.users[idx], self.items[idx], self.labels[idx]

    def get_dataset(self, ratings, all_movieIds):
        users, items, labels = [], [], []
        user_item_set = set(zip(ratings['userId'], ratings['movieId']))

        num_negatives = 4
        for u, i in user_item_set:
            users.append(u)
            items.append(i)
            labels.append(1)
            for _ in range(num_negatives):
                negative_item = np.random.choice(all_movieIds)
                while (u, negative_item) in user_item_set:
                    negative_item = np.random.choice(all_movieIds)
                users.append(u)
                items.append(negative_item)
                labels.append(0)

        return torch.tensor(users), torch.tensor(items), torch.tensor(labels)

In [54]:
class NCF(L.LightningModule):
    """ Neural Collaborative Filtering (NCF)
    
        Args:
            num_users (int): Number of unique users
            num_items (int): Number of unique items
            ratings (pd.DataFrame): Dataframe containing the movie ratings for training
            all_movieIds (list): List containing all movieIds (train + test)
    """
    
    def __init__(self, num_users, num_items, ratings, all_movieIds):
        super().__init__()
        self.user_embedding = nn.Embedding(num_embeddings=num_users, embedding_dim=8)
        self.item_embedding = nn.Embedding(num_embeddings=num_items, embedding_dim=8)
        self.fc1 = nn.Linear(in_features=16, out_features=64)
        self.fc2 = nn.Linear(in_features=64, out_features=32)
        self.output = nn.Linear(in_features=32, out_features=1)
        self.ratings = ratings
        self.all_movieIds = all_movieIds
        
    def forward(self, user_input, item_input):
        
        # Pass through embedding layers
        user_embedded = self.user_embedding(user_input)
        item_embedded = self.item_embedding(item_input)

        # Concat the two embedding layers
        vector = torch.cat([user_embedded, item_embedded], dim=-1)

        # Pass through dense layer
        vector = nn.ReLU()(self.fc1(vector))
        vector = nn.ReLU()(self.fc2(vector))

        # Output layer
        pred = nn.Sigmoid()(self.output(vector))

        return pred
    
    def training_step(self, batch, batch_idx):
        user_input, item_input, labels = batch
        predicted_labels = self(user_input, item_input)
        loss = nn.BCELoss()(predicted_labels, labels.view(-1, 1).float())
        return loss

    def configure_optimizers(self):
        return torch.optim.Adam(self.parameters())

    def train_dataloader(self):
        return DataLoader(MovieLensTrainDataset(self.ratings, self.all_movieIds),
                          batch_size=512, num_workers=4)

In [55]:
num_users = ratings['userId'].max()+1
num_items = ratings['movieId'].max()+1

all_movieIds = ratings['movieId'].unique()

model = NCF(num_users, num_items, train_ratings, all_movieIds)

In [56]:
trainer = L.Trainer(max_epochs=5, accelerator='auto', reload_dataloaders_every_n_epochs=1)

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

In [ ]:
trainer.fit(model)

  | Name           | Type      | Params
---------------------------------------------
0 | user_embedding | Embedding | 644 K
1 | item_embedding | Embedding | 1.4 M
2 | fc1            | Linear    | 1.1 K
3 | fc2            | Linear    | 2.1 K
4 | output         | Linear    | 33
---------------------------------------------
2.1 M     Trainable params
0         Non-trainable params
2.1 M     Total params
8.231     Total estimated model params size (MB)

Training: 0it [00:00, ?it/s]

In [237]:
# User-item pairs for testing
test_user_item_set = set(zip(test_ratings['userId'], test_ratings['movieId']))

# Dict of all items that are interacted with by each user
user_interacted_items = ratings.groupby('userId')['movieId'].apply(list).to_dict()

hits = []
for (u,i) in tqdm(test_user_item_set):
    interacted_items = user_interacted_items[u]
    not_interacted_items = set(all_movieIds) - set(interacted_items)
    selected_not_interacted = list(np.random.choice(list(not_interacted_items), 99))
    test_items = selected_not_interacted + [i]
    
    predicted_labels = np.squeeze(model(torch.tensor([u]*100), 
                                        torch.tensor(test_items)).detach().numpy())
    
    top10_items = [test_items[i] for i in np.argsort(predicted_labels)[::-1][0:10].tolist()]
    
    if i in top10_items:
        hits.append(1)
    else:
        hits.append(0)
        
print("The Hit Ratio @ 10 is {:.2f}".format(np.average(hits)))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 24171/24171 [01:35<00:00, 252.91it/s]

The Hit Ratio @ 10 is 0.85

In [251]:
def hybrid(userId, title):
    idx = indices[title]
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:1000]
    movie_indices = [i[0] for i in sim_scores]
    
    
    interacted_items = user_interacted_items[userId]
    not_interacted_items = set(movie_indices) - set(interacted_items)
    selected_not_interacted = list(np.random.choice(list(not_interacted_items), 99))
    test_items = selected_not_interacted + [i]
    predicted_labels = np.squeeze(model(torch.tensor([userId]*100), 
                                    torch.tensor(test_items)).detach().numpy())
    top10_items = [test_items[i] for i in np.argsort(predicted_labels)[::-1][0:10].tolist()]
    # print(top10_items)
    movies = pmm.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'id']]
    return movies
    # return top10_items
    
    # movies = pmm.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'id']]
    # movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    # movies = movies.sort_values('est', ascending=False)
    # return movies.head(200)

In [252]:
for (userId,i) in tqdm(test_user_item_set):
    # interacted_items = user_interacted_items[u]
    # not_interacted_items = set(all_movieIds) - set(interacted_items)
    # selected_not_interacted = list(np.random.choice(list(not_interacted_items), 99))
    # test_items = selected_not_interacted + [i]
    if i > 45465:
        continue 
    title = pmm.iloc[i]['title']
    top10_items = hybrid(userId, title)
    
    if i in top10_items:
        hits.append(1)
    else:
        hits.append(0)
        
print("The Hit Ratio @ 10 is {:.2f}".format(np.average(hits)))

  0%|          | 11/24171 [00:00<05:48, 69.39it/s]

TypeError: cannot convert the series to <class 'int'>

In [253]:
hybrid(60, "The Matrix")

                      title  vote_count  vote_average      id
44158     A Detective Story        30.0           7.2   24660
28644  Stand by Me Doraemon       103.0           7.0  265712
33852             Algorithm        10.0           5.4  281826
3073              Supernova       109.0           4.9   10384
10815                 Pulse       154.0           5.0    9682
...                     ...         ...           ...     ...
789                  Kazaam        60.0           3.6   11511
8215                   Spin         2.0           4.8  184530
7062   To Have and Have Not       112.0           7.6   22584
12502             Alatriste        62.0           5.6   13495
42935     Unutursam FÄ±sÄ±lda         8.0           7.9  300490

[999 rows x 4 columns]